.select{
    position: relative;
    .input-inner{
        position: relative;
        input.form-control[readonly]{
            // TODO缺失右填充
            background-color: $input-bg;
            padding-right: $iconfont-size+0.6*$spacer;
            &:focus{
                border-color: $input-border-color;
            }
        }
        .input-icon{
            position: absolute;
            top: 50%;
            margin-top: -0.5*$iconfont-size;
            right: 0.5*$spacer;
        }
    }
    ul{
        position: absolute;
        width:100%;
        margin-top: -$border-width;
        background-color: $input-bg;
        li{
            padding:0 $input-btn-padding-x;
            cursor: pointer;
            &:hover,&.active{
                background-color: $primary;
                @include color-yiq($primary);
            }
        }
    }
}
